/JavaFXApplication8/nbproject/private/
/JavaFXApplication8/build/
/VoidChatClient/build/
/VoidChatServer/build/
/VoidChatClient/dist/
/VoidChatServer/dist/
/VoidChatClient/nbproject/
/VoidChatServer/nbproject/
/VoidChatServer/voidChat
VoidChatServer/voidChat
*.properties
nbproject
build
dist
VoidChatServer/voidChat
VoidChatServer/nbproject/private/private.xml
VoidChatServer/nbproject/private/private.xml
VoidChatServer/nbproject/private/private.xml